<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>热烈祝贺天津邢总FaSoLa家居连锁店隆重开业！--FASOLA</title>
</head>
<body>

<table width="1320" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:20px;">
    <tr>
        <td width="70" rowspan="2" valign="top"></td>
        <td width="980" height="60" style="border-bottom:1px solid #cccccc"><span
                style="font-size:30px;font-weight:bold;font-family:'Microsoft Yahei'">热烈祝贺天津邢总FaSoLa家居连锁店隆重开业！</span>
        </td>
        <td width="70">&nbsp;</td>
    </tr>
    <tr>
        <td height="60" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>
                    <td width="19%" height="160" colspan="2" valign="top"
                        style="border-bottom:1px solid #cccccc;font-size:28px;line-height:24px;font-family:'Microsoft Yahei';color:#666666;padding:10px;">
                        <span style="font-size:28px;line-height:24px;font-family:'Microsoft Yahei';color:#666666;padding:10px;"><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;">&nbsp; &nbsp; 天津邢总连续两次参加过</span>FaSoLa<span
                                style="font-family:宋体;">的展会，对家居行业的前景非常看好。经过更深层次的考察，在了解到</span><span
                                style="font-family:Calibri;">FaSoLa</span><span style="font-family:宋体;">强大的实力之后果断签约，准备开启自己的</span><span
                                style="font-family:Calibri;">FaSoLa</span><span
                                style="font-family:宋体;">家居连锁店。一番筹备之后，</span><span
                                style="font-family:Calibri;">2018</span><span style="font-family:宋体;">年</span><span
                                style="font-family:Calibri;">12</span><span style="font-family:宋体;">月</span><span
                                style="font-family:Calibri;">24</span><span style="font-family:宋体;">日，在天津湾</span><span
                                style="font-family:Calibri;">.</span><span style="font-family:宋体;">凯德</span><span
                                style="font-family:Calibri;">Mall</span><span
                                style="font-family:宋体;">商场隆重开业！</span></span></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;"><img
                                src="http://www.viplife.cn/upload/day_190108/201901081521467068.jpg" width="100%" height="600"
                                alt=""/><br/></span></span></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;">&nbsp; &nbsp; &nbsp;凯德商场周边是大面积的居民区，人流量比较大，当地的消费水准也很高。刑总的</span>FaSoLa<span
                                style="font-family:宋体;">家居连锁店入驻该商场，位于侧门出入口处。正对门口有麦当劳、肯德基的门店，用餐结束后大多数顾客都会选择逛商场。而家居百货连锁店由于涵盖的产品品类较全、产品丰富，覆盖的人群也非常广，基本都是首选。拥有得天独厚购物环境的优势，又有商场的人流量作为依托，邢总的</span><span
                                style="font-family:Calibri;">FaSoLa</span><span
                                style="font-family:宋体;">店铺开业时间也掐的非常艺术，选择</span><span
                                style="font-family:Calibri;">2018</span><span style="font-family:宋体;">年</span><span
                                style="font-family:Calibri;">12</span><span style="font-family:宋体;">月</span><span
                                style="font-family:Calibri;">24</span><span style="font-family:宋体;">日，刚好是圣诞节前的平安夜。开业时候顾客盈门，进店的客人一波接着一波，不断地挑选适合自己的产品，店员也忙着接待进店的顾客、帮助选款、接待收银，人气火爆，效益可观！</span></span></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;"><img
                                src="http://www.viplife.cn/upload/day_190108/201901081522149430.jpg" width="100%" height="600"
                                alt=""/>&nbsp;<img src="http://www.viplife.cn/upload/day_190108/201901081522153199.jpg" width="100%"
                                                   height="600" alt=""/><br/></span></span></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;">&nbsp; &nbsp; &nbsp;邢总表示非常感谢</span>FaSoLa<span
                                style="font-family:宋体;">这个平台，不仅产品质量好，收到顾客的广泛赞誉，品牌的后续服务也是相当精准。保姆式服务能够帮助加盟伙伴更好的开启自己的连锁店，更快的走上高效益高回报的道路。开业前总部会为加盟店量身设计店面形象和平面布局图，为店面的选址装修、货柜摆放、产品陈列等一系列提供指导和协助支持。开业后，帮助加盟伙伴对店铺人员做销售技巧培训。开业期间总部会协助加盟商，派遣资深店面经理、督导进行指导支持。并且在后续的运营过程中，为加盟伙伴提供运营技巧培训，帮助门店走上盈利的正轨。 </span></span></p><p><img
                                src="http://www.viplife.cn/upload/day_190108/20190108152239815.jpg" width="100%" height="600"
                                alt=""/>&nbsp;<img src="http://www.viplife.cn/upload/day_190108/201901081522394257.jpg" width="100%"
                                                   height="600" alt=""/>&nbsp;<br/></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;">&nbsp; &nbsp; &nbsp;我们也热烈祝贺邢总开业大吉，相信以后生意也会越做越红火。因为专业，所以专注。</span>FaSoLa<span
                                style="font-family:宋体;">作为新一轮家居行业的引领者，经过近</span><span
                                style="font-family:Calibri;">10</span><span style="font-family:宋体;">年的沉淀，厚积薄发。设计师、市场调研、采购、生产、电商运营、美工、客服、行政、连锁运营、精英督导、仓储人员，等等，久经市场历练的专业团队，能够把专业素养融入到品牌服务中。专业专注的团队成员，是品牌一路向前的中坚力量。也正是凭借这些专业的服务精神，</span><span
                                style="font-family:Calibri;">FaSoLa</span><span style="font-family:宋体;">家居连锁品牌一路带领数百位创业伙伴开启自己的加盟连锁店，并且把店铺生意经营的风生水起！</span></span></p><p><span
                                style="font-family:宋体;font-size:20pt;line-height:40px"><span style="font-family:宋体;"><img
                                src="http://www.viplife.cn/upload/day_190108/201901081521467068.jpg" width="100%" height="600"
                                alt=""/></span></span></p></span></td>
                </tr>
            </table>

        </td>
        <td valign="top">&nbsp;</td>
    </tr>
</table>
<table>
    <tr >
        <td width="20%"></td>
        <td width="50%" style="font-family:宋体;font-size:20pt;line-height:40px">门店地址：天津市河西区凯德MALL商城一层（KFC对面）</td>
        <td width="30%" style="font-family:宋体;font-size:20pt;line-height:40px">联系电话：邢总 133 9177 1511</td>
    </tr>
</table>
</body>
</html>