<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>我的包裹</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart>
<!--主体-->
<div class='weui-content'>
  <div class="weui-tab">
    <div class="weui-navbar" style="position:fixed; top:0px; left:0; right:0; height:44px; background:#fff;">
      <a class="weui-navbar__item proinfo-tab-tit font-14 weui-bar__item--on" href="#tab1">已到达</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab2">在路上</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab3">未出发</a>
    </div>
    <div class="weui-tab__bd proinfo-tab-con" style="padding-top:47px;">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <div class="weui-panel jyjl">
          <div class="weui-panel__hd">包裹个数：4</div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div id="tab2" class="weui-tab__bd-item">
        <div class="weui-panel jyjl">
          <div class="weui-panel__hd">包裹个数：3</div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
      <div id="tab3" class="weui-tab__bd-item">
        <div class="weui-panel jyjl">
          <div class="weui-panel__hd">包裹个数：2</div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">创意挂钩动物粘钩墙壁挂钩无痕挂钩强力 粘胶挂钩可爱宿舍</h4>
              <p class="weui-media-box__desc">运单号：645564231654564</p>
              <p class="weui-media-box__desc">订单号：645564231654564</p>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">交易时间：<em class="num">2015-10-16 13:00</em></li>
              </ul>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
    $(".weui-media-box").bind("click",function(){
      window.location.href ="wuliu";
    });
  });
</script>
<script src="js/jquery-weui.js"></script>
</body>
</html>
