<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>东方有泉家居馆用户注册协议</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
  <link rel="stylesheet" href="lib/weui.min.css">
  <link rel="stylesheet" href="css/jquery-weui.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery-2.1.4.js"></script>
  <script src="lib/fastclick.js"></script>
  <script type="text/javascript" src="js/jquery.Spinner.js"></script>
  <script src="js/jquery-weui.js"></script>
  <script>
    $(function() {
      FastClick.attach(document.body);
    });
  </script>
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back" onclick="history.go(-1)"><span></span></div>
  <div class="wy-header-title">注册协议</div>
</header>
<div class="weui-content">
  <article class="weui-article">
    <section class="wy-news-info font-12">
      <p>天津东方有泉家居用品店会员须知</p>
      <p>1、会员权益</p>
      <p>1.1积分会员权益：</p>
      <p>A) 积分抵现。</p>
      <p>B)  生日月、会员月享双倍积分。</p>
      <p>C) 不定期领取现金劵。 </p>
      <p>1.2 等级会员权益：</p>
      <p>普通会员--------银卡会员--------金卡会员---------钻石会员-------翡翠会员-------vip会员-------SVIP会员</p>
      <p>如何成为普通会员</p>
      <p>注册即刻成为普通会员，赠送100积分。</p>
      <p>如何成为银卡会员</p>
      <p>购物金额达到300元（可累积），及积分达到400分即刻成为银卡会员，银卡会员享受全场商品的9.8折（活动产品除外）。</p>
      <p>如何成为金卡会员</p>
      <p>购物金额达到500元（可累积），及积分达到600分即刻成为金卡会员，金卡会员享受全场商品的9.5折（活动产品除外）。 </p>
      <p>如何成为钻石会员</p>
      <p>购物金额达到1000元（可累积），及积分达到1200分即刻成为钻石会员，钻石会员享受全场商品的9.3折（活动产品除外）。</p>
      <p>如何成为翡翠会员</p>
      <p>购物金额达到2000元（可累积），及积分达到2200分即刻成为翡翠会员，翡翠会员享受全场商品的9折（活动产品除外）。</p>
      <p>如何成为VIP会员</p>
      <p>购物金额达到3000元（可累积），及积分达到3500分即刻成为VIP会员，VIP会员享受全场商品的8.8折（活动产品除外）。</p>
      <p>如何成为SVIP会员</p>
      <p>购物金额达到5000元（可累积），及积分达到5000分即刻成为SVIP会员，SVIP会员享受全场商品的8.5折（活动产品除外）。</p>
      <p>使用须知每人限领1张</p>
      <p>1.会员卡仅限本人使用。</p>
      <p>2.会员卡与微信号绑定使用，若微信号更换请至公众号内进行微信换绑操作。</p>
      <p>3. 会员卡适用于天津河西区东方有泉家居用品FaSoLa门店、东方有泉家居用品店APP、公众号 【东方有泉家居用品店】内的微信商城）。</p>
    </section>
  </article>

</div>
</body>
</html>
